DATABASE_URL="postgresql://user:pass@pooler.neon.tech/db?sslmode=require"
JWT_SECRET="change-me-to-32-characters-long-secret-key"
UPSTASH_REDIS_REST_URL="https://...upstash.io"
UPSTASH_REDIS_REST_TOKEN="..."
